body {
    text-align: center;
    font-size: 16px;
}

/***************************\
|   'Things Lab' section    |
\***************************/
.thingslab {
    background-color: #588C7E;
}

.thingslab h1 {
    font-size: 3em;
}

.thingslab__motto {
    font-size: 2em;
}

.thingslab__description {
    font-size: 1.5em;
}

/***************************\
|       Moto  section       |
\***************************/
.motto-explained {
    background-color: #F2E394;
    padding: 2em;
}

/***************************\
|   Testimonials  section   |
\***************************/
.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
    background-color: #444;
}

.carousel-caption { position: absolute; }

/***************************\
|          Footer           |
\***************************/
footer {
    background-color: #A3BBC6;
    color: #777;
    text-align: left;
}

.social-footer {
    list-style: none;
}